/**
 * _variable.scss
 *
 * This is where you should declare all SCSS Variables.
 */

// Font
$roboto: 'Roboto', serif;
$open-sans: 'Open Sans', sans-serif;
$font-icon: 'icomoon', serif;
// Common
$fdf: 16;
$rem: 1rem;
$vw: 1vw;
// Color primary
$main-color: #0ab2a8;
$primary-main: #20a2a2;
$primary-darker: #1c9292; 
$primary-lighter: #13C2C2;
$primary-subtle: #36CFC9; 
